body {
    font-family: Arial, sans-serif;
    background: #283c86;
        background: -webkit-linear-gradient(to right, #45a247, #283c86);
        background: linear-gradient(to top, #45a247, #283c86);
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    padding: 20px;
}

header {
    background-color: #45a247;
    border-bottom: 1px solid #45a247;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    
   
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
        
}

nav a:hover {
    color: #007bff;
}
h1 {color: red;
    display: flex;
    justify-content: center;

}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

li {
    background: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.cast-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cast-list li {
    flex: 1 1 150px;
    text-align: center;
}

.cast-list img {
    border-radius: 50%;
    margin-bottom: 10px;
}